[user]
	name = Jakob Westhoff
	email = jakob@westhoffswelt.de
[alias]
    ci = commit
    st = status
    cif = "!f() { offset=\"$1\"; shift; GIT_AUTHOR_DATE=$(gdate -d \"$offset\" --iso-8601=seconds) GIT_COMMITTER_DATE=$(gdate -d \"$offset\" --iso-8601=seconds) git commit \"$@\"; }; f"
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[mergetool]
	keepBackup = true
[push]
	default = simple
[credential]
	helper = osxkeychain
[pull]
	rebase = false
[init]
	defaultBranch = main
